*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/release
/app/release/
/app/debug/
/app/build/
/JSON/
/build/
/gradle/
/Image/
/KeyStore/
/Temp/
/TestJSON/
